In [9]:
import pandas as pd 
from scipy import stats

students = {"Name": ['Karan','Deepa','Karthik','Chandan','Jeevan'],
            "Exam_1":[85,70,90,75,95],
             "Exam_2": [90,80,85,70,92],
              "Final_exam":[92,85,88,75,96]}

df = pd.DataFrame(students)

In [11]:
df["mean_score"] = df.mean(axis=1)

C:\Users\arunk\AppData\Local\Temp\ipykernel_2648\1874638467.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df["mean_score"] = df.mean(axis=1)

In [12]:
df

      Name  Exam_1  Exam_2  Final_exam  mean_score
0    Karan      85      90          92   89.000000
1    Deepa      70      80          85   78.333333
2  Karthik      90      85          88   87.666667
3  Chandan      75      70          75   73.333333
4   Jeevan      95      92          96   94.333333

In [17]:
f_value, p_value = stats.f_oneway(df['Exam_1'],df['Exam_2'],df['Final_exam'])
alpha = 0.05

if p_value < alpha:
    print("There is a significant difference in mean score")
else:
    print("there is no significance difference in mean")

there is no significance difference in mean

In [16]:
# Find the student with the highest score
highest_score_student = df.loc[df['Final_exam'].idxmax(), 'Name']
print(f"The student with the highest score is {highest_score_student}.")

The student with the highest score is Jeevan.