1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
file = "test.txt"
with open (file, "w") as file_obj:
    file_obj.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
with open (file, "r") as file_obj:
     test2 = file_obj.read()
test2

'This is a test of the emergency text system'

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

with open ("books.csv", 'w') as csvfile:
    wrt = csv.writer(csvfile)
   
    book = [["title","author","year"],
        ["The Weirdstone of Brisingamen","Alan Garner",1960],
        ["Perdido Street Station","China Miéville",2000 ],
        ["Thud!","Terry Pratchett",2005], 
        ["The Spellman Files","Lisa Lutz",2007],
        ["Small Gods","Terry Pratchett",1992]]
   
    wrt.writerows(book)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3 
con =sqlite3.connect("books.db")
cursor = con.cursor()
cursor.execute('create table books(title text, author text, year integer)')

OperationalError: table books already exists

5. Read books.csv and insert its data into the book table.

In [5]:
import pandas as pd

read_books = pd.read_csv("books.csv",encoding='unicode_escape')
read_books.to_sql("books",con,if_exists ='append',index=False)

5

6. Select and print the title column from the book table in alphabetical order.

In [8]:
cursor.execute('select title from books order by title').fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [10]:
cursor.execute('select * from books order by year').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [16]:
cursor.execute('select * from books order by year')
pd.DataFrame(cursor.fetchall(),columns=['Title', 'Author','Year'])

                           Title           Author  Year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [18]:
conda install sqlalchemy

Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows= engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [2]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

10. Increment the count field of test and print it.